body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
  text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background: #D3D3FF;
  color:#333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.popup{
  width:400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color:#333 ;
  visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
  top: 50%;
   transform: translate(-50%, -50%) scale(1);
  
}

.popup button{
  background: #D3D3FF;
  color:#333;

}

button:hover {
    background-color: #0056b3;
}
